html, body {
    height: 100%;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    color: #391306;
  }
  a {
	  color: #391306!important;
	  font-family: 'Mulish', sans-serif!important;
	  font-weight: 600;
  }
  a:hover {
	  color: #cc7c68!important;
  }
  .nav-link-text {
	  vertical-align: middle;
  }
  .navbar-1, .footer-2 {
	  background-color: #f9f1f1!important;
  }
  .navbar-2, .footer-1 {
	  background-color: #8f746d!important;
  }
  h1 {
	  font-family: Lobster, Verdana, Geneva, Tahoma, sans-serif;
	  font-size: x-large!important;
  }
  .list-group-item.heading {
	  background-color: #17a2b8;
	  color: #efefef;
  }
  /* li a {
	  color: #17a2b8!important;
  } */
  /* .card a {
	  color: #17a2b8!important;
	  font-family: Verdana, Geneva, Tahoma, sans-serif;
  } */
  p {
	  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h4, h5 {
	  font-family: Verdana, Geneva, Tahoma, sans-serif;
	  color: #efefef;
  }
  hr {
	  background-color: white;
  }
  .media a {
	  color: #0a262b!important;
	  font-size: large;
  }
  .sign-up-form #submit, .sign-in-form #submit {
    background-color: #391306;
    color: whitesmoke;
    padding: 0.75rem 2rem!important;
    margin-top: 2rem!important;
    white-space:normal !important;
    word-wrap: break-word; 
  }
  .sign-up-form, .sign-in-form {
    margin-top: 3rem!important;
  }
  footer {
    clear: both;
    position: relative; 
    z-index: 1; 
    height: -3rem; 
    margin-top: 20rem!important;
  }
  #pwd-validation, #email-validation, #existing-email {
    display: none;
  }
  .error-text {
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Mulish', Lobster, Verdana, Geneva, Tahoma, sans-serif;
  }
  .error-image, .error-text {
    margin-top: 3rem!important;
  }
  .side-bar-header {
    font-weight: bold;
    /* font-style: italic; */
    font-size: large; 
    font-family: 'Domine', 'Mulish', Lobster, Verdana, Geneva, Tahoma, sans-serif;
  }
  .side-bar-divider {
    height: 2px;
    border-width:0;
    color: #391306;
    background-color: #391306;
  }
  .search-button {
    background-color: #391306;
    color: #efefef;
  }
  .search-button:hover {
    color: aliceblue;
  }
  .form-control:focus {
    border-color: #f9f1f1;
    box-shadow: 0 0 0 0.1rem rgba(167, 40, 61, 0.25);
  } 
  .listing-image {
    padding: 0!important;
    border: 0!important;
  }
  .item-name {
    font-family:  'Mulish', Lobster, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: medium;
    vertical-align: middle;
  }
  .product-desc-container {
    font-family: 'Domine', 'Mulish', Lobster, Verdana, Geneva, Tahoma, sans-serif;
    border-color: #f9f1f1;
  }
  .product-desc-container h2 {
    font-size: x-large;
    line-height: 1.6;
  }
  .product-desc-container h3 {
    font-size: larger;
  }
  .product-desc-container p {
    color: #8f746d;
    line-height: 1.8;
  }
  .product-desc-container a {
    color: #391306!important;
  }
  .product-desc-container a:hover {
    color: #cc7c68!important;
  }
  .size-container {
    font-family: 'Mulish', Lobster, Verdana, Geneva, Tahoma, sans-serif;
  }
  .size {
    font-size: medium;
  }
  .pagination {
    margin-top: 3rem!important;
  }
  .page-item.active .page-link {
    background-color: #f9f1f1;
    border-color: #8f746d;
  }
  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #8f746d;
  }
  /* .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  } */
  
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    /* -webkit-transform: translate3d(-10px,0,0); */
    /* transform: translate3d(-10px,0,0); */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #f9f1f1;
    margin-top: 1rem;
    text-align: center;
    position: relative;
    font-size: 18px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
    font-style: italic;
  }
  
  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f9f1f1;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #f9f1f1!important;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  /* .error-container {
    vertical-align: middle;
  } */
  /* #main-wrapper {
    margin-bottom: 5rem;
  } */
  