html, body {
    height: 100%;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    color: #391306;
  }
  a {
	  color: #391306!important;
	  font-family: 'Mulish', sans-serif!important;
	  font-weight: 600;
  }
  .delete-btn:hover, a:hover {
	  color: #cc7c68!important;
  }
  @media only screen and (max-width: 480px) {
  .container-fluid{
        flex-direction: column !important;
    }
  }
  .flexR{
    display: flex;
    flex-direction: row;
  }
  .auto-w {
    width: auto;
    margin-left: 20px;
  }
  .img-container .img-btn {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #391306;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Domine', 'Mulish', sans-serif!important;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: inherit;
  }
  .img-container .img-btn:hover {
    background-color: black;
  }
  .quan {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    height: 2.4rem;
  }
  .admin-flex {
    display: flex; 
    flex-direction: row;
  }
  .nav-link-text {
	  vertical-align: middle;
  }
  .navbar-1, .footer-2 {
	  background-color: #f9f1f1!important;
  }
  .navbar-2, .footer-1 {
	  background-color: #8f746d!important;
  }
  h1 {
	  font-family: Lobster, Verdana, Geneva, Tahoma, sans-serif;
	  font-size: x-large!important;
  }
  .admin-price {
    margin-top: 10px;
    margin-left: 2rem;
  }
  .del-icon {
    font-size:30px;
  }
  .mr-20 {
    margin-right: 18px !important;
  }
  .pd-0 {
    padding-bottom: 0px !important;
  }
  .ml-8 {
    margin-left: 8px;
  }
  .pt-0 {
    padding-top: 0px !important;
  }
  .btn-color {
    background-color: #391306;
    color: white !important;
  }
  .list-group-item.heading {
	  background-color: #17a2b8;
	  color: #efefef;
  }
  .m12{
    margin-right: 12px;
  }
  .mt-15p {
    margin-top: 15px !important;
  }
  .mt-8p {
    margin-top: 8px !important;
  }
  .m5{
    margin-right: 5px;
  }
  .center {
    text-align: center;
  }
  .admin-options {
    display: flex;
    flex-direction: row;
  }
  .del-btn, .edit-btn {
    color: #391306;
    font-family: 'Domine', 'Mulish', sans-serif!important;
    font-weight: 600;
    padding-left: 0px !important;
  }
  .admin-mr-2 {
    margin-right: 2rem!important;
  }
  .dropdown-cat {
    width: 100%;
    height: 2.4rem;
    border-radius: 5px;
    padding-left: 0rem !important;
    margin-bottom: 1rem;
  }
  .confirm-dialog {
    display: flex;
    flex-direction: row;
  }
  .modal {
    width: fit-content;
    background-color: #f9f1f1;
  }
  .confirm-btns {
    width: 50%;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .mr-1 {
    margin-right: 1rem;
  }
  .mr-2 {
    margin-right: 2rem;
  }
  .delete-btn:focus,.delete-btn:active {
    outline: none !important;
    box-shadow: none;
  }
  p {
	  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h4, h5 {
	  font-family: Verdana, Geneva, Tahoma, sans-serif;
	  color: #efefef;
  }
  hr {
	  background-color: white;
  }
  .admin-add {
    font-weight: bold !important;
    /* font-style: italic; */
    font-size: large !important; 
    font-family: 'Domine', 'Mulish', Lobster, Verdana, Geneva, Tahoma, sans-serif !important;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-18 {
    margin-top: 18px;
  }
  .filter {
    flex-direction: row !important;
  }
  .media a {
	  color: #0a262b!important;
	  font-size: large;
  }
  .sign-up-form #submit, .sign-in-form #submit {
    background-color: #391306;
    color: whitesmoke;
    padding: 0.75rem 2rem!important;
    margin-top: 2rem!important;
    white-space:normal !important;
    word-wrap: break-word; 
  }
  .sign-up-form, .sign-in-form {
    margin-top: 3rem!important;
  }
  footer {
    clear: both;
    position: relative; 
    z-index: 1; 
    height: -3rem; 
    margin-top: 20rem!important;
  }
  #pwd-validation, #email-validation, #existing-email, #range-error, #search-error, #confirmation {
    display: none;
  }
  .error-text {
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Mulish', Lobster, Verdana, Geneva, Tahoma, sans-serif;
  }
  .error-image, .error-text {
    margin-top: 3rem!important;
  }
  .side-bar-header {
    font-weight: bold;
    font-size: large; 
    font-family: 'Domine', 'Mulish', Lobster, Verdana, Geneva, Tahoma, sans-serif;
  }
  .side-bar-divider {
    height: 2px;
    border-width:0;
    color: #391306;
    background-color: #391306;
  }
  .search-button {
    background-color: #391306;
    color: #efefef;
  }
  .size-new {
    width: 100% !important;
    height: 2.2rem !important;
    margin-bottom: 10px !important;
  }
  .size-new :focus {
    border-color: #f9f1f1;
    box-shadow: 0 0 0 0.1rem rgba(167, 40, 61, 0.25);
  }
  .search-button:hover {
    color: aliceblue;
  }
  .form-group-2 {
    margin-bottom: 0.5rem;
  }
  .form-control:focus {
    border-color: #f9f1f1;
    box-shadow: 0 0 0 0.1rem rgba(167, 40, 61, 0.25);
  } 
  .listing-image {
    padding: 0!important;
    border: 0!important;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .pl-0 {
    padding-left: 0px !important;
  }
  .pr-0 {
    padding-right: 0px !important;
  }
  .product-image {
    width: fit-content !important;
  }
  .admin-listing {
     padding: 0!important;
     border: 0!important;
     width: 40px !important;
  }
  .item-name {
    font-family:  'Domine', 'Mulish', Lobster, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: medium;
    vertical-align: middle;
  }
  .product-desc-container {
    font-family: 'Domine', 'Mulish', Lobster, Verdana, Geneva, Tahoma, sans-serif;
    border-color: #f9f1f1;
  }
  .product-desc-container h2 {
    font-size: x-large;
    line-height: 1.6;
  }
  .product-desc-container h3 {
    font-size: larger;
  }
  .product-desc-container p {
    color: #8f746d;
    line-height: 1.8;
  }
  .product-desc-container a {
    color: #391306!important;
  }
  .product-desc-container a:hover {
    color: #cc7c68!important;
  }
  .size-container {
    font-family: 'Domine', 'Mulish', Lobster, Verdana, Geneva, Tahoma, sans-serif;
  }
  .size {
    font-size: medium;
  }
  .pagination {
    margin-top: 3rem!important;
  }
  .page-item.active .page-link {
    background-color: #f9f1f1;
    border-color: #8f746d;
  }
  #logout {
    display: none;
  }
  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #8f746d;
  }
  .mt-5p {
    margin-top: 5px;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #f9f1f1;
    margin-top: 1rem;
    text-align: center;
    position: relative;
    font-size: 18px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
    font-style: italic;
  }
  
  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f9f1f1;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #f9f1f1!important;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .wishlist-item-name {
    font-family:  'Domine', 'Mulish', Lobster, Verdana, Geneva, Tahoma, sans-serif!important;
    font-weight: 800;
    font-size: larger;
  }
  .add-wishlist {
    vertical-align: middle;
    font-size: larger;
  }
  .add-wishlist-container {
    display: inline-block;
  }
.remove-wishlist {
    position: relative;
    float: right;
  }
  .modal-title {
    font-size: larger;
  }
  .active {
    background-color: #f9f1f1!important;
    color: #cc7c68!important;
  }
  