<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title> Bridal Boutique </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/styles.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>

	<body>
		<div id="body">
			<div id="main_row">
				<div id="header" class="section1">
					<nav class="navbar navbar-light bg-light">
		  				<div id="navbarSupportedContent2" class="wrapper size-flex">
		  					<ul class="navbar-nav list-type width-20 right-margin-10" id="logo">
			      				<li class="nav-item active">
			        				<a class="nav-link white-text" href="#"> Logo </a>
			      				</li> 
			      			</ul>
		  					<div id="name" class="width-60">
		  						<blockquote class="blockquote text-center heading">
  									<p class="white-text heading-font-style"> Bridal Boutique </p>
  									<footer id="caption" class="blockquote-footer white-text before caption-style"> The one stop for all your bridal needs </footer>
								</blockquote>
		  					</div> 
		  					
		  					<div class="navbar-collapse navItems" id="navbarSupportedContent1">
			  					<ul class="navbar-nav list-type">
			      					<li class="nav-item active">
										<span class="glyphicon glyphicon-heart white-text"> </span>
			        					<a class="nav-link white-text right-margin-10" href="#"> Wishlist </a>
			      					</li>

				      				<li class="nav-item">
				      					<span class="glyphicon glyphicon-user white-text"> </span>
				        				<a class="nav-link white-text" href="/showSignUp"> Sign Up </a>
				      				</li>
				    			</ul>
			    			</div>
						</div>
					</nav>
				</div>
				<!-- Section 1 Ends here -->
				<div id="section2" class="row section2">
					<div class="col-md-3" id="searchAndFilter">
						<input type="text" id="search" placeholder="Search..." class="search"> <br/>	
						<label id="filter-head"> Filters and Categories </label> <br/>	
						<ul id="categories">
							<li id="cat1">
								<input type="checkbox" id="1">
								<label for="1"> Western </label>
							</li>
							<li id="cat2">
								<input type="checkbox" id="2">
								<label for="2"> Indian </label>
								<!-- North & South -->
							</li>
							<li id="cat3">
								<input type="checkbox" id="3">
								<label for="3"> Lingerie &amp;Accessories</label>
								<!-- Acce & Ling -->
							</li>
							<li id="cat4">
								<input type="checkbox" id="4">
								<label for="4"> Cosmetics </label>
							</li>
							<li id="cat5">
								<input type="checkbox" id="5">
								<label for="5"> Jewellery </label>
							</li>
						</ul>
					</div>
					
					<!-- <div id="divider"> </div> -->

					<div class="col-md-9" id="itemsList">
						<ol class="breadcrumb" id="breadcrumb">
							<li class="breadcrumb-item"> <a href="#"> Home </a> </li>
							<li class="breadcrumb-item"> <a href="#"> About </a> </li>
							<li class="breadcrumb-item"> <a href="#"> Contact </a> </li>
							<li class="breadcrumb-item active" aria-current="page"> <a href="#"> Browse </a> </li>
						</ol>

						<h1> All items come here... </h1>

						<ul class="pagination" id="pages">
    						<li class="page-item">
      							<a class="page-link" href="#" aria-label="Previous">
        							<span aria-hidden="true"> &laquo; </span>
        							<span class="sr-only"> Previous </span>
      							</a>
    						</li>
    						<li class="page-item"> <a class="page-link" href="#"> 1 </a> </li>
    						<li class="page-item"> <a class="page-link" href="#"> 2 </a> </li>
    						<li class="page-item"> <a class="page-link" href="#"> 3 </a> </li>
    						<li class="page-item">
      							<a class="page-link" href="#" aria-label="Next">
        							<span aria-hidden="true"> &raquo; </span>
        							<span class="sr-only"> Next </span>
      							</a>
    						</li>
 						 </ul>
					</div>
				</div>
				<!-- Section 2 Ends here -->
				<div id="section3" class="section3">
					<div id="socialMedia">
						<h4 class="white-text cursive"> Follow Us On.. </h4>
						<span class="glyphicon glyphicon-camera follow-icons follow1" > </span>
						<span class="glyphicon glyphicon-user follow-icons follow2"> </span>
						<span class="glyphicon glyphicon-tags follow-icons follow3"> </span>
						<span class="glyphicon glyphicon-bookmark follow-icons follow4"> </span>
						<span class="glyphicon glyphicon-fire follow-icons follow5"> </span>
					</div>
					<p class="copyright align-center white-text copy"> Copyright <span class="glyphicon glyphicon-copyright-mark"> </span> 2021 </p>
				</div>	
			</div>
		</div>
	</body>
</html>